@import "../styles/variables.scss";

        .buttonNH2 {
          display: flex;
          
        }
        .buttonDiv {
          margin-left: 2em;
          width: 15%;
          // height: 45%;
          border-top-left-radius: 5%;
          border-bottom-left-radius: 5%;
          border-top-right-radius: 25%;
          border-bottom-right-radius: 25%;
          
          
          button {
            width: 100%;
            // height: 80%;
            border-top-left-radius: 5%;
            border-bottom-left-radius: 5%;
            border-top-right-radius: 25%;
            border-bottom-right-radius: 25%;
            border: none;
            background-color: transparent;
            z-index: 99;
            
            p {
                text-align: center;
                padding: auto 1em;
                font-size: 2.5em;
                font-weight: bold;
                line-height: 0px;
                color: #fff;
            }
              
              .collapse {
                
                width: 30%;
                position: relative;
                left: 15em;
                bottom: 12em;
                font-weight: 900;
              }
          }
        }

        .buttonDiv:hover,
        .button:focus-within {
          box-shadow: 5px 0 5px azure;
          // border: 1px solid azure;
        }
        
    


